@import "./scss/helpers/all.scss";
@import "./scss/variables/colors.scss";
// prova set scss
// $primary-color: #3498db;

// h1 {
//     color: $primary-color;

//     &:hover {
//         color: darken($primary-color, 10%);
//     }
// }


// style block container:

.blockContainer{
    background-color: aliceblue;
    display: flex;
    justify-content: center;  
    gap: 20px; 
    align-items: center;
}