.form {
    background: $background-form;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 60%;          
    max-width: 600px; 
    margin: 20px auto; 
    border-radius: 5px;
}

.select {
    padding: 10px 10px;
    margin-right: 10px;
    background: $select-http;
    border: none;
    border-radius: 5px;
    text-align: center;
}

// rimozione dell'arrow dal select dai vari browser
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
select {
    -moz-appearance: none;
    appearance: none;
}


select::-ms-expand {
    display: none;
}

.input {
    flex: 1;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
    border: none;
}

.button {
    background: $button-send ;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 100;

    &:hover {
        background: darken($button-send, 10%);
    }
}

.statusContainer {
    text-align: center;
    margin-bottom: 10px;
}

.statusCode {
    font-size: 40px;
    color: black;
    display: block;
}

.statusMessage {
    font-size: 15px;
    display: block;
}
