// colori principali spa

// form
$background-form: #F2F2F2;
$button-send: #598BFF;
$button-send-hover:#1E61FD;
$select-http: #FAFBFA;
$background-url: #F6F6F6;
$background-infoUrl:#E8E9E9;
$white:#ffffff;
$bar: #EBEBEB;
// page load
$excellent: #20D781;
$good: #77E6B4;
$medium:#FFD222;
$slow:#FF5353;

